<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>在他面前，其他神马表情都弱爆了！</string>
		<key>icon</key>
		<string>010.png</string>
		<key>image</key>
		<string>0.png</string>
		<key>name</key>
		<string>西门抽血</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>time</key>
		<string>今天 12:45</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>一旦我发现数学有题目不会做了，我就跳过，这一跳我发现根本停不下来！</string>
		<key>icon</key>
		<string>011.png</string>
		<key>image</key>
		<string>14.png</string>
		<key>name</key>
		<string>西门抽筋</string>
		<key>source</key>
		<string>android客户端</string>
		<key>time</key>
		<string>今天 11:25</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>为什么你们选车牌，非得跟自己过不去呢？</string>
		<key>icon</key>
		<string>010.png</string>
		<key>image</key>
		<string>1.png</string>
		<key>name</key>
		<string>西门抽血</string>
		<key>source</key>
		<string>小霸王学习机</string>
		<key>time</key>
		<string>今天 09:20</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>下午一客户来维修电脑，当时哥打开电脑一开，就石化了</string>
		<key>icon</key>
		<string>012.png</string>
		<key>image</key>
		<string>2.png</string>
		<key>name</key>
		<string>西门蛋疼</string>
		<key>source</key>
		<string>飞利浦山寨机</string>
		<key>time</key>
		<string>昨天 23:36</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>二逼青年伤不起啊，有木有啊啊啊啊</string>
		<key>icon</key>
		<string>013.png</string>
		<key>image</key>
		<string>3.png</string>
		<key>name</key>
		<string>哇哈哈</string>
		<key>source</key>
		<string>新浪微博</string>
		<key>time</key>
		<string>昨天 12:45</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>这也忒狠了</string>
		<key>icon</key>
		<string>014.png</string>
		<key>image</key>
		<string>4.png</string>
		<key>name</key>
		<string>搞笑排行榜</string>
		<key>source</key>
		<string>谷果手机</string>
		<key>time</key>
		<string>昨天 11:27</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>哥们为什么选八号呢</string>
		<key>icon</key>
		<string>014.png</string>
		<key>image</key>
		<string>5.png</string>
		<key>name</key>
		<string>搞笑排行榜</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>time</key>
		<string>09-10 07:46</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>这年头的SB不少</string>
		<key>icon</key>
		<string>016.png</string>
		<key>image</key>
		<string>6.png</string>
		<key>name</key>
		<string>笑多了会怀孕</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>time</key>
		<string>07-09 09:56</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>够惨不？</string>
		<key>icon</key>
		<string>016.png</string>
		<key>image</key>
		<string>7.png</string>
		<key>name</key>
		<string>笑多了会怀孕</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>time</key>
		<string>05-06 02:15</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
